/** SELECTOR UNIVERSSAL */
* {
    margin: 0;
    padding: 0;
}

/** CSS GENERAL EN ELEMENTOS */
body{
    background-color: #303030;
    font: 200 14px montserrat, sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

h2{
    font-size: 28px;
    line-height: 28px;
    color: #f2f2f2;
}

h3{
    color: #ccc5b9;
    font-size: 17px;
    font-weight: 300;
}

section{
    padding: 10px 70px 10px 70px;
}

a:any-link{
    color: #EFC88B;
}

i:hover{
    color:#f1f0f0
}

/** CSS ELEMENTOS CON ID Y CLASS */
/** CLASS */
.hastag{
    margin-top: 10px;
    color: #EFC88B;
    font-size: 25px;
    font-weight: 600;
}

.semi-bold-p{
    font-weight: 600;
}

/* Apartado del Header */
.section-container{
    padding: 10px 70px 10px 70px;
}

.nav-container{
    list-style: none;
}

.nav-container li{
    display: inline-block;
    margin-right: 25px;
}

.nav-container a{
    text-decoration: none;
    color: #f1f0f0;
    font-weight: 600;
}

.nav-container a:hover{
    color: #EFC88B;
}

.section-title-sub-title{
    text-align: center;
}

/* Apartado de portfolio */
.row-portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cards-portfolio{
    width: 350px;
    height: 420px;
    background-color: #000000;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card-img{
/*Estilo para la imagen*/
    margin: 0;
    width: 100%;
    height: 180px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    margin-bottom: 15px;
    margin-top: 15px;
}

.divider{
    border: 0;
    height: 0.8px;
    background-color:#ffffff;
    margin: 15px 0;
    width: 100%;
}

.cards-portfolio h3, .cards-portfolio p{
    color: #ffffff;
    padding: 0 15px;
}

.cards-icons{
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0 10px;
}

.cards-icons a{
    font-size: 20px;
}

/* Apartado de experiencia */
.grid-container-exp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-exp{
    background-color: #303030;
    padding: 15px;
    border-radius: 8px;
}

.card-exp p{
    margin-top: 15px;
}

.img-exp{
    width: 30px;
    height: 30px;
    margin-top: 15px;
}

.card-exp ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.text-izq{
    margin-top: 10px;
    text-align: left;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/** ID */
#header-container{
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #303030;
    padding: 10px 0;
    z-index: 1000;
}

#starting-block-container{
    background-image: url(../assets/img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding-top: 50px;
}

#starting-block-title{
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 50px;
}

#social-icons-container{
    margin-top: 10px;
    font-size: 18px;
}

#social-icons-container a{
    margin-top: 5px;
    margin-right: 15px;
    text-decoration: none;
    color: #EFC88B;
}

#portfolio-container{
    margin: 20px 0;
}

#experience-skill-container{
    background-color: #E96C1C;
    color: #ffffff;
}

#linea-division{
    border: 0;
    height: 5px;
    background-color: #E96C1C;
}

#description{
    margin-top: 20px;
    text-align: justify;
}

#about-me-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

#about-me-content{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#about-me-image{
    width: 280px;
    height: 290px;
    border-radius: 10px;
    object-fit: cover;
}

#about-me-text{
    flex: 1;
}

#about-me-text h2 {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#about-me-text p {
    line-height: 1.6;
    font-size: 16px;
    text-align: justify;
}

#about-me-quote{
    margin-top: 20px;
}

#btn-download-cv{
    margin-top: 15px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #E96C1C;
    color: #ffffff;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
}
#contact-container{
    background-image: url(../assets/img/contact-backgroung.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    height: 700px;
    padding-top: 50px;
}