/** SELECTOR UNIVERSSAL */
* {
    margin: 0;
    padding: 0;
}

/** CSS GENERAL EN ELEMENTOS */
body{
    background-color: #303030;
    font: 200 14px montserrat, sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

h2{
    font-size: 28px;
    line-height: 28px;
    color: #f2f2f2;
}

h3{
    color: #ccc5b9;
    font-size: 17px;
    font-weight: 300;
}

section{
    padding: 10px 70px 10px 70px;
}

a:any-link{
    color: #EFC88B;
}

i:hover{
    color:#f1f0f0
}

/** CSS ELEMENTOS CON ID Y CLASS */
/** CLASS */
.hastag{
    margin-top: 10px;
    color: #EFC88B;
    font-size: 25px;
    font-weight: 600;
}

.semi-bold-p{
    font-weight: 600;
}

.section-container{
    padding: 10px 70px 10px 70px;
}

.nav-container{
    list-style: none;
}

.nav-container a{
    text-decoration: none;
    color: #f1f0f0;
    font-weight: 600;
}

.card-digital{
/* Estilos generales para el fondo y la forma de la tarjeta */
    background-color: #303030;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;

    /* Controla el ancho de la tarjeta */
    width: 250px;
    height: 400px;
    font-family: Montserrat, sans-serif;
}

.card-img{
/*Estilo para la imagen*/
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #EFC88B;
    margin-bottom: 15px;
}

.card-digital p{
    margin: 0;
    padding: 0;
    line-height: 22px;
}

.card-digital a {
/*Estilo para la los iconos*/
    text-decoration: none;
    color: #EFC88B;
    display: inline-block;
    margin: 10px 5px;
}

.card-digital a i{
/*Iconos mas grandes*/
    font-size: 20px;
}

.section-title-sub-title{
    text-align: center;
}

/** ID */
#header-container{
    text-align: center;
}

#starting-block-container{
    background-image: url(../assets/img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
}

#starting-block-title{
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 50px;
}

#social-icons-container{
    margin-top: 10px;
    font-size: 18px;
}

#social-icons-container a{
    margin-right: 4px;
    text-decoration: none;
    color: #EFC88B;
}

#experience-skill-container{
    background-color: #E96C1C;
    color: #ffffff;
}

#linea-division{
    border: 0;
    height: 1px;
    background-color: #E96C1C;
}

#portfolio-container{
    border-top: 1px solid #E96C1C;
}

#description{
    margin-top: 20px;
    text-align: justify;
}

#table-experience{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 20px;
}

#table-experience th{
    text-align: center;
    padding-bottom: 10px;
}