/** SELECTOR UNIVERSSAL */
*{
    margin: 0%;
    padding: 0%;
}

/** CSS GENERAL EN ELEMENTOS */
body{
    background-color: #303030;
    font: 200 14px montserrat, sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

h2{
    font-size: 28px;
    line-height: 28px;
    color: #f2f2f2;
}

h3{
    color: #ccc5b9;
    font-size: 17px;
    font-weight: 300;
}

/** CSS ELEMENTOS CON ID Y CLASS */
.hastag{
    margin-top: 10px;
    color: #EFC88B;
    font-size: 25px;
    font-weight: 600;
}

.semi-bold-p{
    font-weight: 600;
}

.section-container{
    padding: 10px 70px 10px 70px;
}

.nav-container{
    list-style: none;
}

.nav-container a{
    text-decoration: none;
    color: #f1f0f0;
    font-weight: 600;
}

#header-container{
    text-align: center;
}

#starting-block-container{
    background-image: url(../assets/img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
}

#starting-block-title{
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 50px;
}

#experience-skill-container{
    background-color: #EA671A;
    color: #ffffff;
    text-align: center;
}

#porfolio-container{
    border-top: 1px solid #E96C1C;
}
